body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(208, 205, 205);
}

.Photo1 {
    display: block;
    width: 1000px;
    height: 800px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

h1 {
    font: bold;
    text-align: center;
}

.opis {
    text-align: center;
    font-size: 20px;
    width: 1300px;
    height: 30px;
    background-color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(91, 82, 82);
}

.lineczek {
    text-decoration: none;
    color: black;
    font: bolder;
}

h3 {
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: black;
}

.wstep {
}

.ramka {
    display: block;
    width: 1000px;
    height: 1000px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: black;
    box-shadow: 10px 10px 10px rgb(91, 82, 82);
}

h4 {
    color: white;
    text-align: center;
    align-items: center;
}
