body {
    padding: 0px;
    margin: 0px;
}


h1 {
    width: 100%;
    text-align: center;
    align-items: center;
    height 40px;
    background-color: black;
    color: white;
}

li {
    margin: 5px;
    list-style: decimal;
    border: 3px solid black;
}

.btn-delete {
    background-color: red;
    margin-left: 20px;
    font: bold;
    color: white;
}


.btn btn-secondary {
    background-color: blue;
    font: bold;
    color: white;
}
