@page "/"

<PageTitle>Strona główna</PageTitle>
<link href="index.css" rel="stylesheet" />

<h1>
    Cześc i czołem! Witam wszystkich bardzo serdecznie! :D
    <br />
    Kinga Świniarska 124740
</h1>

<h3 class="czesc1"> Jeżeli tutaj jesteś to znaczy, że masz zamiłowanie do pięknych i szybkich aut. Zapraszam do wejścia w świat Audii.</h3>


<main>
    <p class="wstep">
        Audi to jedna z najpopularniejszych marek w Polsce – nic dziwnego, bowiem każdy samochód z czterema pierścieniami na masce wzbudza ogromne emocje. Marka ta to synonim luksusu, niezawodności, siły i piękna. W każdym modelu widać pasję i elegancję.
        <br />
        Audi AG – niemiecki producent samochodów osobowych z siedzibą w Ingolstadt w Niemczech, należący do koncernu Volkswagen AG. Założony został w 1909 roku przez Augusta Horcha, który założył nową spółkę po tym, jak odszedł z zarządu August-Horch-Motorwagen AG, którą założył w 1899 roku.

    </p>
    <div class="ramka">
        <img src="1.jpg" class="Photo1" alt="Alternate Text" />
        <h4>
            Audi A7 Sportback TFSI
            <br />
            Eleganckie i wydajne
            Połączenie sportowej elegancji i hybrydowego napędu typu plug-in – Audi A7 Sportback TFSI e przyciąga spojrzenia i zapewnia bezemisyjne podróżowanie na krótkich dystansach.
        </h4>
    </div>

    <p class="opis">
        Jeżeli nie masz jeszcze wybranej swojego wymarzonego samochodu to wejdź w ten link
        <a href="https://www.audi.pl/pl/modele/?gad_source=1&gad_campaignid=22176709617&gclid=Cj0KCQjwgIXCBhDBARIsAELC9ZghurKyw4QgReqfMGzxUfVNXzvpa4MqT9rOr2cRmFx-lvmdR-vqxFsaAi7iEALw_wcB" target="_blank" class="lineczek">Audii</a>
        koniecznie daj znać jaka wpadła Ci w oko :D
    </p>

</main>